{#
/**
 * @file
 * Theme override to display a view of unformatted rows.
 *
 * Available variables:
 * - title: The title of this group of rows. May be empty.
 * - rows: A list of the view's row items.
 *   - attributes: The row's HTML attributes.
 *   - content: The row's content.
 * - view: The view object.
 * - default_row_class: A flag indicating whether default classes should be
 *   used on rows.
 *
 * @see template_preprocess_views_view_unformatted()
 */
#}
<div class="alert alert-warning alert-home" role="alert">
  Please select report type.
</div>
{% if title %}
  <h3>{{ title }}</h3>
{% endif %}
<div class="alert alert-dark" role="alert">
  <select class="form-select" aria-label="Default select example" id="select-create-report" required>
    <option value=""> Select Report Type
    {% for row in rows %}
   
      <option value="{{ row.content['#row']._entity.field_report_id.value }}">
        {{ row.content['#row']._entity.name.value }}
      </option>
  
    {% endfor %}
  </select>
  <div class="d-grid gap-2 mt-2">
    <button id="btn-view-report" class="btn btn-primary" type="button">View Reports</button>
  </div>
  <div class="d-grid gap-2 mt-2">
    <button id="btn-create-report" class="btn btn-primary" type="button">Create Reports</button>
  </div>
</div>
